%h4= 'Payments'
- if project.payments.empty?
  %p= 'Be the first one to pay for this project!'
- else
  %ul
    - project.payments.each do |payment|
      %li
        = render payment
- if user_signed_in? && project.active?
  = link_to 'Add Payment', new_project_payment_path(project), class: 'btn btn-default'