%h2 Active Projects
= render 'projects_table', projects: active_projects

- if user_signed_in?
  =link_to "New Project", new_project_path, class:"btn btn-primary"

%h2 Inactive Projects
= render 'projects_table', projects: remaining_projects
