@import '1st_load_framework',
  'admin',
  'comments',
  'projects';

.form-group {
  > * {
    max-width: 100%;
  }
}

<<<<<<< HEAD
main {
  padding: 0 50px 20px;
=======
body {
  padding-left: 50px;
  padding-right: 50px;
>>>>>>> Add labels to  chart
}

form {
  max-width: 400px;
}

.navbar-default {
  background-color: $btn-primary-bg;
  color: #ffffff;

  .navbar-text {
    color: #ffffff;
  }

  .navbar-nav {
    > li {
      > a {
        color: white;
        transition: transform .3s;

        &:hover {
          color: white;
          transform: rotate(5deg);
        }
      }
    }
  }
}

.navbar-header {
  .navbar-brand {
    color: #ffffff;

    &:focus,
    &:hover {
      color: #ffffff;
    }
  }
}
