
@import '1st_load_framework',
  'admin',
  'comments',
  'projects';
@impport "jquery.countdown";

.form-group {
  > * {
    max-width: 100%;
  }
}

<<<<<<< Updated upstream
body {
  padding-left: 50px;
  padding-right: 50px;
=======
form {
  max-width: 400px;
>>>>>>> Stashed changes
}
