@import '1st_load_framework',
  'admin',
  'comments',
  'projects';

.form-group {
  > * {
    max-width: 100%;
  }
}

main {
  padding: 0 50px 20px;
}

form {
  max-width: 400px;
}

.navbar-default {
  background-color: $btn-primary-bg;
  color: white;

  .navbar-text {
    color: white;
  }

  .navbar-nav {
    > li {
      > a {
        color: white;
        transition: transform 0.3s;

        &:hover {
          color: white;
          transform: rotate(5deg);
        }
      }
    }
  }
}