.project {
  .project-name {
    margin-bottom: 2rem;
    padding: 1rem;
    text-align: center;
    text-transform: uppercase;
  }

  .user-input {
    > div {
      padding-bottom: 30px;
    }
  }

  .status {
    @extend .glyphicon;

    &.status-active {
      @extend .glyphicon-refresh;

      color: $alert-info-text;
    }

    &.status-failed {
      @extend .glyphicon-remove;

      color: $alert-danger-text;
    }

    &.status-succeed {
      @extend .glyphicon-ok;

      color: $alert-success-text;
    }

    &.status-waiting {
      @extend .glyphicon-hourglass;

      color: $gray;
    }
  }
}