.project {
  .project-name {
    margin-bottom: 2rem;
    padding: 1rem;
    text-align: center;
    text-transform: uppercase;
  }

  .user-input {
    > div {
      padding-bottom: 30px;
    }
  }
}